Source: osiam
Maintainer: Sebastian Mancke <s.mancke@tarent.de>
Section: non-free/web
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), quilt
Depends: ${misc:Depends}
Homepage: http://www.osiam.org

Package: osiam-common
Architecture: all
Depends: tomcat7-common, openjdk-7-jre-headless, adduser, ${misc:Depends}
Description: OSIAM common package.
 This package contains the tomcat instance configuring
 for all osiam services.

Package: osiam-auth-server
Architecture: all
Depends: osiam-common, dbconfig-common, postgresql-client, ${misc:Depends}
Description: OSIAM authorisation server.
 The server component for login and ticket granting.

Package: osiam-resource-server
Architecture: all
Depends: osiam-common, dbconfig-common, postgresql-client, ${misc:Depends}
Description: OSIAM resource server.
 The server component for management of the identity data over the SCIM2 API.

Package: osiam-addon-self-administration
Architecture: all
Suggests: osiam-resource-server
Depends: dbconfig-common, osiam-auth-server, osiam-resource-server, postgresql-client, ${misc:Depends}
Description: OSIAM self administration web frontend.
 The OSIAM frontend for registration and password self service.

Package: osiam-addon-administration
Architecture: all
Suggests: osiam-resource-server
Depends: dbconfig-common, osiam-auth-server, osiam-resource-server, postgresql-client, ${misc:Depends}
Description: OSIAM administration web frontend.
 The OSIAM frontend for administration.

Package: osiam
Architecture: all
Depends: osiam-common, osiam-auth-server, osiam-resource-server, osiam-addon-self-administration, osiam-addon-administration
Description: Metapackage depending on all OSIAM sub-packages.
 Installs all osiam packages.
