#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

include /usr/share/quilt/quilt.make
REVISION := $(shell head -1 debian/changelog | sed 's/.*(//;s/).*//;s///')

build-arch:

build: build-indep
build-indep:
	dh_quilt_patch

clean:
	dh_quilt_unpatch
	dh_testdir
	dh_testroot
	dh_clean

binary-indep:
	dh_testdir
	dh_testroot
	dh_prep
	mkdir debian/tmp
	unzip target/osiam-distribution-$(REVISION).zip -d target
	mv target/osiam-distribution-$(REVISION)/* debian/tmp
	dh_installdirs
	dh_install
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installdebconf
	dh_installman
	dh_lintian
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
